SAVE_PATH="..."
DATA_PATH="./data"

OPENAI_API_KEY="sk-proj-..."

GOOGLE_API_KEY="..."

ANTHROPIC_API_KEY="..."

LITELLM_PROXY_API_BASE="..."
LITELLM_PROXY_API_KEY="..."

PRAW_CLIENT_ID="..."
PRAW_CLIENT_SECRET="..."
PRAW_USERNAME="..."
PRAW_PWD="..."
PRAW_AGENT="..."

PUBMED_API_KEY="..."

REDIS_HOST="..."
REDIS_PORT=6377
REDIS_SSL=True

TMPDIR=/tmp

# vLLM deterministic settings
CUBLAS_WORKSPACE_CONFIG=":4096:8"
VLLM_ENABLE_V1_MULTIPROCESSING=0
