SAVE_PATH=
DATA_PATH="./data"

OPENAI_API_KEY="sk-proj-..."

GOOGLE_API_KEY=

ANTHROPIC_API_KEY=

LITELLM_PROXY_API_BASE=
LITELLM_PROXY_API_KEY=

PRAW_CLIENT_ID=
PRAW_CLIENT_SECRET=
PRAW_USERNAME=
PRAW_PWD=
PRAW_AGENT=

PUBMED_API_KEY=

REDIS_HOST=
REDIS_PORT=6377
REDIS_SSL=True

TMPDIR=/tmp
USE_WEAVE=false

# Weave
WANDB_API_KEY=
WANDB_ENTITY=
WANDB_USERNAME=
WEAVE_PRINT_CALL_LINKS=false
WEAVE_LOG_LEVEL=WARN

# vLLM deterministic settings
CUBLAS_WORKSPACE_CONFIG=":4096:8"
VLLM_ENABLE_V1_MULTIPROCESSING=0
VLLM_BATCH_INVARIANT=1 # requires NVIDIA GPUs with compute capability 9.0 or higher

VLLM_CACHE_ROOT=
# Force the use of 'spawn' instead of the default (at least in Linux) 'fork' method for multiprocessing
# This is important for CUDA to avoid issues with memory corruption
# (We are initializing CUDA (vllm.LLM class) in an async method instead of the main thread)
VLLM_WORKER_MULTIPROC_METHOD=spawn
